/* .container{
    color: blue;
    background-color: yellow;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    height: 200px;
    width: 300px;
}

div {
    display: block;
} */